{
  "openapi": "3.0.3",
  "info": {
    "title": "Polinate External API",
    "description": "External API for partners and services. Authentication via X-Org-Id and X-Api-Key headers.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://integrations.polinate.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "products",
      "description": "Product management endpoints"
    },
    {
      "name": "customers",
      "description": "Customer management endpoints"
    },
    {
      "name": "suppliers",
      "description": "Supplier management endpoints"
    },
    {
      "name": "orders",
      "description": "Order management endpoints"
    },
    {
      "name": "invoices",
      "description": "Invoice management endpoints"
    },
    {
      "name": "subscriptions",
      "description": "Webhook subscription management endpoints"
    },
    {
      "name": "extensions",
      "description": "Extension management endpoints"
    },
    {
      "name": "extension-billing",
      "description": "Extension billing management endpoints"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getIndex"
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth"
      }
    },
    "/token": {
      "post": {
        "operationId": "postToken"
      }
    },
    "/products/": {
      "get": {
        "summary": "List products",
        "description": "Get a list of products with optional filtering and pagination",
        "tags": [
          "products"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/product.listResponse"
                }
              }
            }
          }
        },
        "operationId": "getProducts"
      },
      "post": {
        "summary": "Create product",
        "description": "Create a new product",
        "tags": [
          "products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/product.createBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/product.createBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/product.createBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/product.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "postProducts"
      }
    },
    "/products/{id}": {
      "get": {
        "summary": "Get product by ID",
        "description": "Retrieve a specific product by its ID",
        "tags": [
          "products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/product.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "getProductsById"
      },
      "patch": {
        "summary": "Update product",
        "description": "Update an existing product",
        "tags": [
          "products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/product.updateBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/product.updateBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/product.updateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/product.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "patchProductsById"
      },
      "delete": {
        "summary": "Delete product",
        "description": "Soft delete a product",
        "tags": [
          "products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/product.deleteResponse"
                }
              }
            }
          }
        },
        "operationId": "deleteProductsById"
      }
    },
    "/customers/": {
      "get": {
        "summary": "List customers",
        "description": "Get a list of customers with optional filtering and pagination",
        "tags": [
          "customers"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer.listResponse"
                }
              }
            }
          }
        },
        "operationId": "getCustomers"
      },
      "post": {
        "summary": "Create customer",
        "description": "Create a new customer",
        "tags": [
          "customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer.createBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/customer.createBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/customer.createBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "postCustomers"
      }
    },
    "/customers/{id}": {
      "get": {
        "summary": "Get customer by ID",
        "description": "Retrieve a specific customer by its ID",
        "tags": [
          "customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "getCustomersById"
      },
      "patch": {
        "summary": "Update customer",
        "description": "Update an existing customer",
        "tags": [
          "customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer.updateBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/customer.updateBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/customer.updateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "patchCustomersById"
      },
      "delete": {
        "summary": "Delete customer",
        "description": "Soft delete a customer",
        "tags": [
          "customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer.deleteResponse"
                }
              }
            }
          }
        },
        "operationId": "deleteCustomersById"
      }
    },
    "/suppliers/": {
      "get": {
        "summary": "List suppliers",
        "description": "Get a list of suppliers with optional filtering and pagination",
        "tags": [
          "suppliers"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier.listResponse"
                }
              }
            }
          }
        },
        "operationId": "getSuppliers"
      },
      "post": {
        "summary": "Create supplier",
        "description": "Create a new supplier",
        "tags": [
          "suppliers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier.createBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/supplier.createBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/supplier.createBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "postSuppliers"
      }
    },
    "/suppliers/{id}": {
      "get": {
        "summary": "Get supplier by ID",
        "description": "Retrieve a specific supplier by its ID",
        "tags": [
          "suppliers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "getSuppliersById"
      },
      "patch": {
        "summary": "Update supplier",
        "description": "Update an existing supplier",
        "tags": [
          "suppliers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier.updateBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/supplier.updateBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/supplier.updateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "patchSuppliersById"
      },
      "delete": {
        "summary": "Delete supplier",
        "description": "Soft delete a supplier",
        "tags": [
          "suppliers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier.deleteResponse"
                }
              }
            }
          }
        },
        "operationId": "deleteSuppliersById"
      }
    },
    "/orders/": {
      "get": {
        "summary": "List orders",
        "description": "Get a list of orders with optional filtering and pagination",
        "tags": [
          "orders"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partnershipId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partnershipType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "customer",
                "supplier"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "pending",
                "rejected",
                "accepted",
                "packed",
                "shipped",
                "delivered",
                "cancelled",
                "returned"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order.listResponse"
                }
              }
            }
          }
        },
        "operationId": "getOrders"
      },
      "post": {
        "summary": "Create order",
        "description": "Create a new order",
        "tags": [
          "orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order.createBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/order.createBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/order.createBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "postOrders"
      }
    },
    "/orders/{id}": {
      "get": {
        "summary": "Get order by ID",
        "description": "Retrieve a specific order by its ID",
        "tags": [
          "orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "getOrdersById"
      },
      "patch": {
        "summary": "Update order",
        "description": "Update an existing order",
        "tags": [
          "orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order.updateBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/order.updateBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/order.updateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "patchOrdersById"
      },
      "delete": {
        "summary": "Delete order",
        "description": "Soft delete an order",
        "tags": [
          "orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order.deleteResponse"
                }
              }
            }
          }
        },
        "operationId": "deleteOrdersById"
      }
    },
    "/invoices/": {
      "get": {
        "summary": "List invoices",
        "description": "Get a list of invoices with optional filtering and pagination",
        "tags": [
          "invoices"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partnershipId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partnershipType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "customer",
                "supplier"
              ]
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "issued",
                "partial",
                "paid",
                "void",
                "cancelled"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoice.listResponse"
                }
              }
            }
          }
        },
        "operationId": "getInvoices"
      },
      "post": {
        "summary": "Create invoice",
        "description": "Create a new invoice",
        "tags": [
          "invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/invoice.createBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/invoice.createBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/invoice.createBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoice.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "postInvoices"
      }
    },
    "/invoices/{id}": {
      "get": {
        "summary": "Get invoice by ID",
        "description": "Retrieve a specific invoice by its ID",
        "tags": [
          "invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoice.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "getInvoicesById"
      },
      "patch": {
        "summary": "Update invoice",
        "description": "Update an existing invoice",
        "tags": [
          "invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/invoice.updateBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/invoice.updateBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/invoice.updateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoice.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "patchInvoicesById"
      },
      "delete": {
        "summary": "Delete invoice",
        "description": "Soft delete an invoice",
        "tags": [
          "invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoice.deleteResponse"
                }
              }
            }
          }
        },
        "operationId": "deleteInvoicesById"
      }
    },
    "/subscriptions/": {
      "get": {
        "summary": "List webhook subscriptions",
        "description": "Get a list of webhook subscriptions for your organization",
        "tags": [
          "subscriptions"
        ],
        "parameters": [
          {
            "name": "enabled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription.listResponse"
                }
              }
            }
          }
        },
        "operationId": "getSubscriptions"
      },
      "post": {
        "summary": "Create webhook subscription",
        "description": "Create a new webhook subscription. The secret is only returned on creation - save it securely.",
        "tags": [
          "subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription.createBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/subscription.createBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/subscription.createBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription.createResponse"
                }
              }
            }
          }
        },
        "operationId": "postSubscriptions"
      }
    },
    "/subscriptions/{id}": {
      "get": {
        "summary": "Get webhook subscription by ID",
        "description": "Retrieve a specific webhook subscription by its ID",
        "tags": [
          "subscriptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "getSubscriptionsById"
      },
      "patch": {
        "summary": "Update webhook subscription",
        "description": "Update an existing webhook subscription",
        "tags": [
          "subscriptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription.updateBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/subscription.updateBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/subscription.updateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "patchSubscriptionsById"
      },
      "delete": {
        "summary": "Delete webhook subscription",
        "description": "Soft delete a webhook subscription",
        "tags": [
          "subscriptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription.deleteResponse"
                }
              }
            }
          }
        },
        "operationId": "deleteSubscriptionsById"
      }
    },
    "/subscriptions/{id}/deliveries": {
      "get": {
        "summary": "List webhook deliveries",
        "description": "Get delivery history for a specific webhook subscription",
        "tags": [
          "subscriptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "success",
                "failed",
                "retrying"
              ]
            }
          },
          {
            "name": "eventType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription.deliveriesResponse"
                }
              }
            }
          }
        },
        "operationId": "getSubscriptionsByIdDeliveries"
      }
    },
    "/extensions/": {
      "get": {
        "summary": "List extensions",
        "description": "Get a list of extensions for your organization",
        "tags": [
          "extensions"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "app",
                "agent",
                "workflow",
                "integration"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "draft"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extension.listResponse"
                }
              }
            }
          }
        },
        "operationId": "getExtensions"
      },
      "post": {
        "summary": "Create extension",
        "description": "Create a new extension",
        "tags": [
          "extensions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/extension.createBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/extension.createBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/extension.createBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extension.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "postExtensions"
      }
    },
    "/extensions/{extensionId}/billing": {
      "get": {
        "summary": "List extension billing records",
        "description": "Get a list of billing records for a specific extension",
        "tags": [
          "extension-billing"
        ],
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "subscription",
                "usage",
                "one_time",
                "credit"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paused",
                "cancelled"
              ]
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "anyOf": [
                    {
                      "type": "Date"
                    },
                    {
                      "format": "date-time",
                      "type": "string"
                    },
                    {
                      "format": "date",
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "anyOf": [
                    {
                      "type": "Date"
                    },
                    {
                      "format": "date-time",
                      "type": "string"
                    },
                    {
                      "format": "date",
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billing.listResponse"
                }
              }
            }
          }
        },
        "operationId": "getExtensionsByExtensionIdBilling"
      },
      "post": {
        "summary": "Create extension billing record",
        "description": "Create a new billing record for an extension",
        "tags": [
          "extension-billing"
        ],
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/billing.createBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/billing.createBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/billing.createBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billing.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "postExtensionsByExtensionIdBilling"
      }
    },
    "/extensions/{extensionId}/billing/{id}": {
      "get": {
        "summary": "Get extension billing record by ID",
        "description": "Retrieve a specific billing record by its ID",
        "tags": [
          "extension-billing"
        ],
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billing.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "getExtensionsByExtensionIdBillingById"
      },
      "patch": {
        "summary": "Update extension billing record",
        "description": "Update an existing billing record",
        "tags": [
          "extension-billing"
        ],
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/billing.updateBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/billing.updateBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/billing.updateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billing.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "patchExtensionsByExtensionIdBillingById"
      },
      "delete": {
        "summary": "Delete extension billing record",
        "description": "Soft delete a billing record",
        "tags": [
          "extension-billing"
        ],
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billing.deleteResponse"
                }
              }
            }
          }
        },
        "operationId": "deleteExtensionsByExtensionIdBillingById"
      }
    },
    "/extensions/{extensionId}": {
      "get": {
        "summary": "Get extension by ID",
        "description": "Retrieve a specific extension by its ID",
        "tags": [
          "extensions"
        ],
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extension.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "getExtensionsByExtensionId"
      },
      "patch": {
        "summary": "Update extension",
        "description": "Update an existing extension",
        "tags": [
          "extensions"
        ],
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/extension.updateBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/extension.updateBody"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/extension.updateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extension.detailResponse"
                }
              }
            }
          }
        },
        "operationId": "patchExtensionsByExtensionId"
      },
      "delete": {
        "summary": "Delete extension",
        "description": "Soft delete an extension",
        "tags": [
          "extensions"
        ],
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extension.deleteResponse"
                }
              }
            }
          }
        },
        "operationId": "deleteExtensionsByExtensionId"
      }
    }
  },
  "components": {
    "schemas": {
      "product.listQuery": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "search": {
            "type": "string"
          },
          "limit": {
            "minimum": 1,
            "maximum": 100,
            "type": "number"
          },
          "offset": {
            "minimum": 0,
            "type": "number"
          },
          "sort": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        },
        "$id": "#/components/schemas/product.listQuery"
      },
      "product.variantItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "barcode": {
            "type": "string"
          },
          "uom": {
            "type": "string",
            "enum": [
              "each",
              "kg",
              "g",
              "litre",
              "box",
              "carton",
              "crate",
              "pallet"
            ]
          },
          "defaultPrice": {
            "type": "number"
          },
          "quantityInBaseUom": {
            "type": "number"
          },
          "netWeightKg": {
            "type": "number"
          },
          "grossWeightKg": {
            "type": "number"
          },
          "lengthCm": {
            "type": "number"
          },
          "widthCm": {
            "type": "number"
          },
          "heightCm": {
            "type": "number"
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          }
        },
        "required": [
          "name",
          "uom",
          "defaultPrice"
        ],
        "$id": "#/components/schemas/product.variantItem"
      },
      "product.createBody": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "productId": {
                  "type": "string"
                },
                "name": {
                  "minLength": 1,
                  "type": "string"
                },
                "sku": {
                  "type": "string"
                },
                "barcode": {
                  "type": "string"
                },
                "uom": {
                  "type": "string",
                  "enum": [
                    "each",
                    "kg",
                    "g",
                    "litre",
                    "box",
                    "carton",
                    "crate",
                    "pallet"
                  ]
                },
                "defaultPrice": {
                  "type": "number"
                },
                "quantityInBaseUom": {
                  "type": "number"
                },
                "netWeightKg": {
                  "type": "number"
                },
                "grossWeightKg": {
                  "type": "number"
                },
                "lengthCm": {
                  "type": "number"
                },
                "widthCm": {
                  "type": "number"
                },
                "heightCm": {
                  "type": "number"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "required": [
                "name",
                "uom",
                "defaultPrice"
              ],
              "$id": "#/components/schemas/product.variantItem"
            }
          }
        },
        "required": [
          "organizationId",
          "name"
        ],
        "$id": "#/components/schemas/product.createBody"
      },
      "product.updateBody": {
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          },
          "organizationId": {
            "type": "string"
          },
          "variants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "productId": {
                  "type": "string"
                },
                "name": {
                  "minLength": 1,
                  "type": "string"
                },
                "sku": {
                  "type": "string"
                },
                "barcode": {
                  "type": "string"
                },
                "uom": {
                  "type": "string",
                  "enum": [
                    "each",
                    "kg",
                    "g",
                    "litre",
                    "box",
                    "carton",
                    "crate",
                    "pallet"
                  ]
                },
                "defaultPrice": {
                  "type": "number"
                },
                "quantityInBaseUom": {
                  "type": "number"
                },
                "netWeightKg": {
                  "type": "number"
                },
                "grossWeightKg": {
                  "type": "number"
                },
                "lengthCm": {
                  "type": "number"
                },
                "widthCm": {
                  "type": "number"
                },
                "heightCm": {
                  "type": "number"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "required": [
                "name",
                "uom",
                "defaultPrice"
              ],
              "$id": "#/components/schemas/product.variantItem"
            }
          }
        },
        "$id": "#/components/schemas/product.updateBody"
      },
      "product.listResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {

            }
          },
          "count": {
            "type": "number"
          }
        },
        "required": [
          "data",
          "count"
        ],
        "$id": "#/components/schemas/product.listResponse"
      },
      "product.detailResponse": {
        "type": "object",
        "properties": {
          "data": {

          }
        },
        "required": [
          "data"
        ],
        "$id": "#/components/schemas/product.detailResponse"
      },
      "product.deleteResponse": {
        "type": "object",
        "properties": {
          "data": {

          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "data",
          "message"
        ],
        "$id": "#/components/schemas/product.deleteResponse"
      },
      "customer.partnershipItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "partnerId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "customer",
              "supplier"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "on_hold",
              "suspended",
              "inactive",
              "terminated"
            ]
          },
          "paymentTermsDays": {
            "type": "number"
          },
          "creditLimit": {
            "type": "number"
          },
          "defaultCurrency": {
            "type": "string"
          },
          "leadTimeDays": {
            "type": "number"
          },
          "minimumOrderValue": {
            "type": "number"
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          }
        },
        "$id": "#/components/schemas/customer.partnershipItem"
      },
      "customer.locationItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "billing",
              "shipping",
              "remittance"
            ]
          },
          "addressLine1": {
            "minLength": 1,
            "type": "string"
          },
          "city": {
            "minLength": 1,
            "type": "string"
          },
          "country": {
            "minLength": 1,
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "partnerId": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          },
          "label": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "contactName": {
            "type": "string"
          },
          "contactPhone": {
            "type": "string"
          },
          "deliveryInstructions": {
            "type": "string"
          },
          "longitude": {
            "type": "number"
          },
          "latitude": {
            "type": "number"
          },
          "formattedAddress": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          }
        },
        "required": [
          "type",
          "addressLine1",
          "city",
          "country"
        ],
        "$id": "#/components/schemas/customer.locationItem"
      },
      "customer.contactItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "primary",
              "sales",
              "accounting",
              "logistics",
              "executive"
            ]
          },
          "organizationId": {
            "type": "string"
          },
          "partnerId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "isPrimary": {
            "type": "boolean"
          },
          "notes": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          }
        },
        "required": [
          "name"
        ],
        "$id": "#/components/schemas/customer.contactItem"
      },
      "customer.variantPricingItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "partnershipId": {
            "type": "string"
          },
          "productVariantId": {
            "minLength": 1,
            "type": "string"
          },
          "price": {
            "minLength": 1,
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "effectiveFrom": {
            "type": "string"
          },
          "effectiveTo": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          }
        },
        "required": [
          "productVariantId",
          "price"
        ],
        "$id": "#/components/schemas/customer.variantPricingItem"
      },
      "customer.listQuery": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "search": {
            "type": "string"
          },
          "limit": {
            "minimum": 1,
            "maximum": 100,
            "type": "number"
          },
          "offset": {
            "minimum": 0,
            "type": "number"
          },
          "sort": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        },
        "$id": "#/components/schemas/customer.listQuery"
      },
      "customer.createBody": {
        "type": "object",
        "properties": {
          "id": {
            "minLength": 1,
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "linkedOrganizationId": {
            "type": "string"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "partnerships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "partnerId": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "customer",
                    "supplier"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "active",
                    "pending",
                    "on_hold",
                    "suspended",
                    "inactive",
                    "terminated"
                  ]
                },
                "paymentTermsDays": {
                  "type": "number"
                },
                "creditLimit": {
                  "type": "number"
                },
                "defaultCurrency": {
                  "type": "string"
                },
                "leadTimeDays": {
                  "type": "number"
                },
                "minimumOrderValue": {
                  "type": "number"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "$id": "#/components/schemas/customer.partnershipItem"
            }
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "billing",
                    "shipping",
                    "remittance"
                  ]
                },
                "addressLine1": {
                  "minLength": 1,
                  "type": "string"
                },
                "city": {
                  "minLength": 1,
                  "type": "string"
                },
                "country": {
                  "minLength": 1,
                  "type": "string"
                },
                "organizationId": {
                  "type": "string"
                },
                "partnerId": {
                  "type": "string"
                },
                "isDefault": {
                  "type": "boolean"
                },
                "label": {
                  "type": "string"
                },
                "addressLine2": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "contactName": {
                  "type": "string"
                },
                "contactPhone": {
                  "type": "string"
                },
                "deliveryInstructions": {
                  "type": "string"
                },
                "longitude": {
                  "type": "number"
                },
                "latitude": {
                  "type": "number"
                },
                "formattedAddress": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "required": [
                "type",
                "addressLine1",
                "city",
                "country"
              ],
              "$id": "#/components/schemas/customer.locationItem"
            }
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "minLength": 1,
                  "type": "string"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "primary",
                    "sales",
                    "accounting",
                    "logistics",
                    "executive"
                  ]
                },
                "organizationId": {
                  "type": "string"
                },
                "partnerId": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "isPrimary": {
                  "type": "boolean"
                },
                "notes": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "mobile": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "required": [
                "name"
              ],
              "$id": "#/components/schemas/customer.contactItem"
            }
          },
          "variantPricing": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "partnershipId": {
                  "type": "string"
                },
                "productVariantId": {
                  "minLength": 1,
                  "type": "string"
                },
                "price": {
                  "minLength": 1,
                  "type": "string"
                },
                "currency": {
                  "type": "string"
                },
                "effectiveFrom": {
                  "type": "string"
                },
                "effectiveTo": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "required": [
                "productVariantId",
                "price"
              ],
              "$id": "#/components/schemas/customer.variantPricingItem"
            }
          }
        },
        "required": [
          "id",
          "organizationId",
          "name"
        ],
        "$id": "#/components/schemas/customer.createBody"
      },
      "customer.updateBody": {
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "legalName": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "linkedOrganizationId": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          },
          "partnerships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "partnerId": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "customer",
                    "supplier"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "active",
                    "pending",
                    "on_hold",
                    "suspended",
                    "inactive",
                    "terminated"
                  ]
                },
                "paymentTermsDays": {
                  "type": "number"
                },
                "creditLimit": {
                  "type": "number"
                },
                "defaultCurrency": {
                  "type": "string"
                },
                "leadTimeDays": {
                  "type": "number"
                },
                "minimumOrderValue": {
                  "type": "number"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "$id": "#/components/schemas/customer.partnershipItem"
            }
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "billing",
                    "shipping",
                    "remittance"
                  ]
                },
                "addressLine1": {
                  "minLength": 1,
                  "type": "string"
                },
                "city": {
                  "minLength": 1,
                  "type": "string"
                },
                "country": {
                  "minLength": 1,
                  "type": "string"
                },
                "organizationId": {
                  "type": "string"
                },
                "partnerId": {
                  "type": "string"
                },
                "isDefault": {
                  "type": "boolean"
                },
                "label": {
                  "type": "string"
                },
                "addressLine2": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "contactName": {
                  "type": "string"
                },
                "contactPhone": {
                  "type": "string"
                },
                "deliveryInstructions": {
                  "type": "string"
                },
                "longitude": {
                  "type": "number"
                },
                "latitude": {
                  "type": "number"
                },
                "formattedAddress": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "required": [
                "type",
                "addressLine1",
                "city",
                "country"
              ],
              "$id": "#/components/schemas/customer.locationItem"
            }
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "minLength": 1,
                  "type": "string"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "primary",
                    "sales",
                    "accounting",
                    "logistics",
                    "executive"
                  ]
                },
                "organizationId": {
                  "type": "string"
                },
                "partnerId": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "isPrimary": {
                  "type": "boolean"
                },
                "notes": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "mobile": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "required": [
                "name"
              ],
              "$id": "#/components/schemas/customer.contactItem"
            }
          },
          "variantPricing": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "partnershipId": {
                  "type": "string"
                },
                "productVariantId": {
                  "minLength": 1,
                  "type": "string"
                },
                "price": {
                  "minLength": 1,
                  "type": "string"
                },
                "currency": {
                  "type": "string"
                },
                "effectiveFrom": {
                  "type": "string"
                },
                "effectiveTo": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "required": [
                "productVariantId",
                "price"
              ],
              "$id": "#/components/schemas/customer.variantPricingItem"
            }
          },
          "organizationId": {
            "type": "string"
          }
        },
        "$id": "#/components/schemas/customer.updateBody"
      },
      "customer.listResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {

            }
          },
          "count": {
            "type": "number"
          }
        },
        "required": [
          "data",
          "count"
        ],
        "$id": "#/components/schemas/customer.listResponse"
      },
      "customer.detailResponse": {
        "type": "object",
        "properties": {
          "data": {

          }
        },
        "required": [
          "data"
        ],
        "$id": "#/components/schemas/customer.detailResponse"
      },
      "customer.deleteResponse": {
        "type": "object",
        "properties": {
          "data": {

          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "data",
          "message"
        ],
        "$id": "#/components/schemas/customer.deleteResponse"
      },
      "supplier.partnershipItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "partnerId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "customer",
              "supplier"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "on_hold",
              "suspended",
              "inactive",
              "terminated"
            ]
          },
          "paymentTermsDays": {
            "type": "number"
          },
          "creditLimit": {
            "type": "number"
          },
          "defaultCurrency": {
            "type": "string"
          },
          "leadTimeDays": {
            "type": "number"
          },
          "minimumOrderValue": {
            "type": "number"
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          }
        },
        "$id": "#/components/schemas/customer.partnershipItem"
      },
      "supplier.locationItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "billing",
              "shipping",
              "remittance"
            ]
          },
          "addressLine1": {
            "minLength": 1,
            "type": "string"
          },
          "city": {
            "minLength": 1,
            "type": "string"
          },
          "country": {
            "minLength": 1,
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "partnerId": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          },
          "label": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "contactName": {
            "type": "string"
          },
          "contactPhone": {
            "type": "string"
          },
          "deliveryInstructions": {
            "type": "string"
          },
          "longitude": {
            "type": "number"
          },
          "latitude": {
            "type": "number"
          },
          "formattedAddress": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          }
        },
        "required": [
          "type",
          "addressLine1",
          "city",
          "country"
        ],
        "$id": "#/components/schemas/customer.locationItem"
      },
      "supplier.contactItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "primary",
              "sales",
              "accounting",
              "logistics",
              "executive"
            ]
          },
          "organizationId": {
            "type": "string"
          },
          "partnerId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "isPrimary": {
            "type": "boolean"
          },
          "notes": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          }
        },
        "required": [
          "name"
        ],
        "$id": "#/components/schemas/customer.contactItem"
      },
      "supplier.variantPricingItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "partnershipId": {
            "type": "string"
          },
          "productVariantId": {
            "minLength": 1,
            "type": "string"
          },
          "price": {
            "minLength": 1,
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "effectiveFrom": {
            "type": "string"
          },
          "effectiveTo": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "patternProperties": {
              "^(.*)$": {

              }
            }
          }
        },
        "required": [
          "productVariantId",
          "price"
        ],
        "$id": "#/components/schemas/customer.variantPricingItem"
      },
      "supplier.listQuery": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "search": {
            "type": "string"
          },
          "limit": {
            "minimum": 1,
            "maximum": 100,
            "type": "number"
          },
          "offset": {
            "minimum": 0,
            "type": "number"
          },
          "sort": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        },
        "$id": "#/components/schemas/customer.listQuery"
      },
      "supplier.createBody": {
        "type": "object",
        "properties": {
          "id": {
            "minLength": 1,
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "linkedOrganizationId": {
            "type": "string"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "partnerships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "partnerId": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "customer",
                    "supplier"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "active",
                    "pending",
                    "on_hold",
                    "suspended",
                    "inactive",
                    "terminated"
                  ]
                },
                "paymentTermsDays": {
                  "type": "number"
                },
                "creditLimit": {
                  "type": "number"
                },
                "defaultCurrency": {
                  "type": "string"
                },
                "leadTimeDays": {
                  "type": "number"
                },
                "minimumOrderValue": {
                  "type": "number"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "$id": "#/components/schemas/customer.partnershipItem"
            }
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "billing",
                    "shipping",
                    "remittance"
                  ]
                },
                "addressLine1": {
                  "minLength": 1,
                  "type": "string"
                },
                "city": {
                  "minLength": 1,
                  "type": "string"
                },
                "country": {
                  "minLength": 1,
                  "type": "string"
                },
                "organizationId": {
                  "type": "string"
                },
                "partnerId": {
                  "type": "string"
                },
                "isDefault": {
                  "type": "boolean"
                },
                "label": {
                  "type": "string"
                },
                "addressLine2": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "contactName": {
                  "type": "string"
                },
                "contactPhone": {
                  "type": "string"
                },
                "deliveryInstructions": {
                  "type": "string"
                },
                "longitude": {
                  "type": "number"
                },
                "latitude": {
                  "type": "number"
                },
                "formattedAddress": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "patternProperties": {
                    "^(.*)$": {

                    }
                  }
                }
              },
              "required": [
                "type",
                "addressLine1",
                "city",
                "country"
              ],
              "$id": "#/components/schemas/customer.locationItem"
            }
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "minLength": 1,
[...]
