{
  "openapi": "3.1.0",
  "info": {
    "title": "Pollinate API",
    "description": "External API for Pollinate - A flexible supply chain SaaS platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.api.pollinate.tech",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3001",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using email and password. Use email as username and password as password."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication. Also requires x-org-id header."
      }
    },
    "parameters": {
      "orgIdHeader": {
        "name": "x-org-id",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Organization ID for scoping the request"
      },
      "paginationLimit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 50,
          "minimum": 1,
          "maximum": 1000
        },
        "description": "Maximum number of results to return"
      },
      "paginationOffset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 0,
          "minimum": 0
        },
        "description": "Number of results to skip"
      },
      "sortOrder": {
        "name": "sort",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": ["asc", "desc"],
          "default": "asc"
        },
        "description": "Sort order for results"
      },
      "resourceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Resource identifier"
      },
      "orderStatusFilter": {
        "name": "status",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": ["draft", "pending", "rejected", "accepted", "packed", "shipped", "delivered", "cancelled", "returned"]
        },
        "description": "Filter by order status"
      },
      "partnershipTypeFilter": {
        "name": "partnershipType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": ["customer", "supplier"]
        },
        "description": "Filter by partnership type (customer or supplier)"
      },
      "searchQuery": {
        "name": "search",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Text search across order references and notes"
      },
      "propertiesPath": {
        "name": "propertiesPath",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "JSONB path for property filtering (dot notation support)"
      },
      "propertiesValue": {
        "name": "propertiesValue",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Exact value match for specified property path"
      },
      "propertiesExists": {
        "name": "propertiesExists",
        "in": "query",
        "schema": {
          "type": "boolean"
        },
        "description": "Check if property exists (true) or does not exist (false)"
      },
      "sortField": {
        "name": "sort",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Field to sort by (e.g., createdAt, updatedAt, status)"
      },
      "sortDirection": {
        "name": "direction",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": ["asc", "desc"]
        },
        "description": "Sort direction"
      },
      "customerStatusFilter": {
        "name": "status",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": ["active", "inactive", "pending", "on_hold", "suspended", "terminated"]
        },
        "description": "Filter by customer partnership status"
      },
      "productStatusFilter": {
        "name": "status",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": ["active", "inactive"]
        },
        "description": "Filter by product status"
      },
      "productSearchQuery": {
        "name": "search",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Search in product name, code, or description"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "required": ["token", "userId", "expiresIn"],
        "properties": {
          "token": {
            "type": "string",
            "description": "Bearer token for authentication"
          },
          "userId": {
            "type": "string",
            "description": "User identifier for the authenticated user"
          },
          "expiresIn": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          }
        }
      },
      "ProductVariant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Variant identifier"
          },
          "productId": {
            "type": "string",
            "description": "Parent product identifier"
          },
          "name": {
            "type": "string",
            "description": "Variant name (unique per product)"
          },
          "sku": {
            "type": "string",
            "nullable": true,
            "description": "Stock keeping unit"
          },
          "barcode": {
            "type": "string",
            "nullable": true,
            "description": "Barcode identifier"
          },
          "uom": {
            "type": "string",
            "enum": ["each", "kg", "g", "litre", "box", "carton", "crate", "pallet"],
            "description": "Unit of measure"
          },
          "defaultPrice": {
            "type": "number",
            "format": "float",
            "description": "Default price for variant"
          },
          "quantityInBaseUom": {
            "type": "number",
            "nullable": true,
            "description": "Quantity in base unit of measure"
          },
          "netWeightKg": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Net weight in kilograms"
          },
          "grossWeightKg": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Gross weight in kilograms"
          },
          "lengthCm": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Length in centimeters"
          },
          "widthCm": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Width in centimeters"
          },
          "heightCm": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Height in centimeters"
          },
          "properties": {
            "type": "object",
            "description": "Custom metadata properties"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Update timestamp"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Deletion timestamp (soft delete)"
          }
        }
      },
      "CreateProductVariantRequest": {
        "type": "object",
        "required": ["name", "uom", "defaultPrice"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Variant name"
          },
          "sku": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Stock keeping unit"
          },
          "barcode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Barcode identifier"
          },
          "uom": {
            "type": "string",
            "enum": ["each", "kg", "g", "litre", "box", "carton", "crate", "pallet"],
            "description": "Unit of measure"
          },
          "defaultPrice": {
            "type": "number",
            "minimum": 0,
            "description": "Default price for variant (must be >= 0)"
          },
          "quantityInBaseUom": {
            "type": "number",
            "minimum": 0,
            "description": "Quantity in base unit of measure (must be >= 0)"
          },
          "netWeightKg": {
            "type": "number",
            "minimum": 0,
            "description": "Net weight in kilograms (must be >= 0)"
          },
          "grossWeightKg": {
            "type": "number",
            "minimum": 0,
            "description": "Gross weight in kilograms (must be >= 0)"
          },
          "lengthCm": {
            "type": "number",
            "minimum": 0,
            "description": "Length in centimeters (must be >= 0)"
          },
          "widthCm": {
            "type": "number",
            "minimum": 0,
            "description": "Width in centimeters (must be >= 0)"
          },
          "heightCm": {
            "type": "number",
            "minimum": 0,
            "description": "Height in centimeters (must be >= 0)"
          },
          "properties": {
            "type": "object",
            "description": "Custom metadata properties"
          }
        }
      },
      "UpdateProductVariantRequest": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Variant identifier (required for update)"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Variant name"
          },
          "sku": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Stock keeping unit"
          },
          "barcode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Barcode identifier"
          },
          "uom": {
            "type": "string",
            "enum": ["each", "kg", "g", "litre", "box", "carton", "crate", "pallet"],
            "description": "Unit of measure"
          },
          "defaultPrice": {
            "type": "number",
            "minimum": 0,
            "description": "Default price for variant (must be >= 0)"
          },
          "quantityInBaseUom": {
            "type": "number",
            "minimum": 0,
            "description": "Quantity in base unit of measure (must be >= 0)"
          },
          "netWeightKg": {
            "type": "number",
            "minimum": 0,
            "description": "Net weight in kilograms (must be >= 0)"
          },
          "grossWeightKg": {
            "type": "number",
            "minimum": 0,
            "description": "Gross weight in kilograms (must be >= 0)"
          },
          "lengthCm": {
            "type": "number",
            "minimum": 0,
            "description": "Length in centimeters (must be >= 0)"
          },
          "widthCm": {
            "type": "number",
            "minimum": 0,
            "description": "Width in centimeters (must be >= 0)"
          },
          "heightCm": {
            "type": "number",
            "minimum": 0,
            "description": "Height in centimeters (must be >= 0)"
          },
          "properties": {
            "type": "object",
            "description": "Custom metadata properties"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Product identifier"
          },
          "organizationId": {
            "type": "string",
            "description": "Organization identifier"
          },
          "name": {
            "type": "string",
            "description": "Product name"
          },
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Unique product code per organization"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Product description"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive"],
            "description": "Product status"
          },
          "properties": {
            "type": "object",
            "description": "Custom metadata properties"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariant"
            },
            "description": "Product variants"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Update timestamp"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Deletion timestamp (soft delete)"
          }
        }
      },
      "CreateProductRequest": {
        "type": "object",
        "required": ["name", "status"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "The name of the product"
          },
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "The code of the product"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096,
            "description": "The description of the product"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive"],
            "description": "Product status"
          },
          "properties": {
            "type": "object",
            "description": "Custom metadata properties"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateProductVariantRequest"
            },
            "description": "Optional array of product variants to create"
          }
        }
      },
      "UpdateProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "The name of the product"
          },
          "code": {
            "type": "string",
            "description": "The code of the product"
          },
          "description": {
            "type": "string",
            "description": "The description of the product"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive"],
            "description": "Product status"
          },
          "properties": {
            "type": "object",
            "description": "Custom metadata properties"
          },
          "variants": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/UpdateProductVariantRequest"
                },
                {
                  "$ref": "#/components/schemas/CreateProductVariantRequest"
                }
              ]
            },
            "description": "Array of variants. Variants with id will be updated (matched by id), variants without id will be created (if no matching name), and variants not in array will be soft-deleted."
          }
        }
      },
      "ProductDetailResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Product"
          },
          {
            "type": "object",
            "required": ["variants"],
            "properties": {
              "variants": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductVariant"
                },
                "description": "Product variants"
              }
            }
          }
        ]
      },
      "ProductListResponse": {
        "type": "object",
        "required": ["count", "data"],
        "properties": {
          "count": {
            "type": "number",
            "description": "Total number of products matching query"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductDetailResponse"
            },
            "description": "List of products with variants"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Location identifier"
          },
          "organizationId": {
            "type": "string",
            "nullable": true,
            "description": "Organization identifier"
          },
          "partnerId": {
            "type": "string",
            "nullable": true,
            "description": "Partner identifier"
          },
          "type": {
            "type": "string",
            "enum": ["billing", "shipping", "remittance"],
            "description": "Location type"
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Location label (user-friendly name)"
          },
          "addressLine1": {
            "type": "string",
            "description": "Street address line 1"
          },
          "addressLine2": {
            "type": "string",
            "nullable": true,
            "description": "Street address line 2"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "State or province"
          },
          "postalCode": {
            "type": "string",
            "nullable": true,
            "description": "ZIP or postal code"
          },
          "country": {
            "type": "string",
            "description": "Country"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether this is the default location"
          },
          "contactName": {
            "type": "string",
            "nullable": true,
            "description": "Contact name at location"
          },
          "contactPhone": {
            "type": "string",
            "nullable": true,
            "description": "Contact phone at location"
          },
          "deliveryInstructions": {
            "type": "string",
            "nullable": true,
            "description": "Special delivery instructions"
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Geographic longitude"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Geographic latitude"
          },
          "formattedAddress": {
            "type": "string",
            "nullable": true,
            "description": "Formatted address string"
          },
          "properties": {
            "type": "object",
            "description": "Custom metadata properties"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Update timestamp"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Deletion timestamp (soft delete)"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Contact identifier"
          },
          "partnerId": {
            "type": "string",
            "description": "Partner identifier"
          },
          "name": {
            "type": "string",
            "description": "Contact name"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Contact job title"
          },
          "role": {
            "type": "string",
            "enum": ["primary", "sales", "accounting", "logistics", "executive"],
            "nullable": true,
            "description": "Contact role"
          },
          "isPrimary": {
            "type": "boolean",
            "description": "Whether this is the primary contact"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Internal notes about contact"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Contact email"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Contact phone number"
          },
          "mobile": {
            "type": "string",
            "nullable": true,
            "description": "Contact mobile number"
          },
          "properties": {
            "type": "object",
            "description": "Custom metadata properties"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Update timestamp"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Deletion timestamp (soft delete)"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Customer/Partner identifier"
          },
          "organizationId": {
            "type": "string",
            "description": "Organization identifier"
          },
          "partnershipId": {
            "type": "string",
            "description": "Partnership identifier (type=customer)"
          },
          "name": {
            "type": "string",
            "description": "Customer name"
          },
          "legalName": {
            "type": "string",
            "nullable": true,
            "description": "Full legal entity name"
          },
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Unique customer code"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Internal notes"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Contact email"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Contact phone"
          },
          "website": {
            "type": "string",
            "nullable": true,
            "description": "Website URL"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "pending", "on_hold", "suspended", "terminated"],
            "description": "Partnership status"
          },
          "paymentTermsDays": {
            "type": "integer",
            "nullable": true,
            "description": "Payment terms in days"
          },
          "creditLimit": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Credit limit in base currency"
          },
          "defaultCurrency": {
            "type": "string",
            "description": "Default currency code"
          },
          "leadTimeDays": {
            "type": "integer",
            "nullable": true,
            "description": "Lead time in days"
          },
          "minimumOrderValue": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Minimum order value"
          },
          "properties": {
            "type": "object",
            "description": "Custom metadata properties"
          },
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            },
            "description": "Customer locations"
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            },
            "description": "Customer contacts"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Update timestamp"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Deletion timestamp (soft delete)"
          }
        }
      },
      "Supplier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Supplier identifier"
          },
          "name": {
            "type": "string",
            "description": "Supplier name"
          },
          "company": {
            "type": "string",
            "description": "Company name"
          },
          "taxId": {
            "type": "string",
            "description": "Tax identification number"
          },
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            },
            "description": "Supplier locations"
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            },
            "description": "Supplier contacts"
          }
        }
      },
      "DeliveryAddress": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string",
            "description": "Street address (required)"
          },
          "addressLine2": {
            "type": "string",
            "description": "Secondary address line (optional)"
          },
          "city": {
            "type": "string",
            "description": "City (required)"
          },
          "state": {
            "type": "string",
            "description": "State or province (optional)"
          },
          "postalCode": {
            "type": "string",
            "description": "ZIP or postal code (optional)"
          },
          "country": {
            "type": "string",
            "description": "Country (required)"
          }
        },
        "required": ["addressLine1", "city", "country"]
      },
      "OrderLine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Order line identifier"
          },
          "variantPartnershipPriceId": {
            "type": "string",
            "nullable": true,
            "description": "Variant Partnership Price identifier"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Line description for manual items"
          },
          "quantity": {
            "type": "number",
            "description": "Quantity ordered"
          },
          "unitPrice": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Price per unit"
          },
          "lineTotal": {
            "type": "number",
            "format": "float",
            "description": "Total line price"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR)"
          },
          "properties": {
            "type": "object",
            "description": "Custom properties for the line"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Line creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Line update timestamp"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Line deletion timestamp (soft delete)"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Order identifier"
          },
          "organizationId": {
            "type": "string",
            "description": "Organization identifier"
          },
          "partnershipId": {
            "type": "string",
            "description": "Partnership identifier (customer or supplier)"
          },
          "locationId": {
            "type": "string",
            "nullable": true,
            "description": "Location identifier for delivery address population"
          },
          "status": {
            "type": "string",
            "enum": ["draft", "pending", "rejected", "accepted", "packed", "shipped", "delivered", "cancelled", "returned"],
            "description": "Order status"
          },
          "internalReference": {
            "type": "string",
            "description": "Internal order reference (auto-generated if omitted)"
          },
          "externalReference": {
            "type": "string",
            "nullable": true,
            "description": "External reference or PO number"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Order notes"
          },
          "totalAmount": {
            "type": "number",
            "format": "float",
            "description": "Total order amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR)"
          },
          "deliveryAddress": {
            "$ref": "#/components/schemas/DeliveryAddress",
            "description": "Delivery address"
          },
          "packedBy": {
            "type": "string",
            "nullable": true,
            "description": "User ID of person who packed the order"
          },
          "packedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when order was packed"
          },
          "shippedBy": {
            "type": "string",
            "nullable": true,
            "description": "User ID of person who shipped the order"
          },
          "shippedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when order was shipped"
          },
          "deliveredBy": {
            "type": "string",
            "nullable": true,
            "description": "User ID of person who confirmed delivery"
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when order was delivered"
          },
          "returnedBy": {
            "type": "string",
            "nullable": true,
            "description": "User ID of person who processed return"
          },
          "returnedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when order was returned"
          },
          "properties": {
            "type": "object",
            "description": "Custom properties for the order"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderLine"
            },
            "description": "Order line items"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Order creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Order update timestamp"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Order deletion timestamp (soft delete)"
          }
        }
      },
      "OrderLineCreate": {
        "type": "object",
        "properties": {
          "variantPartnershipPriceId": {
            "type": "string",
            "description": "Variant Partnership Price identifier (alternative to variantId)"
          },
          "variantId": {
            "type": "string",
            "description": "Variant identifier - will be resolved to Variant Partnership Price ID (alternative to variantPartnershipPriceId)"
          },
          "description": {
            "type": "string",
            "description": "Line description (required for manual lines)"
          },
          "quantity": {
            "type": "number",
            "description": "Quantity ordered (required)"
          },
          "unitPrice": {
            "type": "number",
            "format": "float",
            "description": "Price per unit (required for manual lines)"
          },
          "lineTotal": {
            "type": "number",
            "format": "float",
            "description": "Total line price (auto-calculated if not provided)"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (defaults to partnership defaultCurrency or USD)"
          },
          "properties": {
            "type": "object",
            "description": "Custom properties for the line"
          }
        },
        "required": ["quantity"]
      },
      "OrderLineUpdate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Order line identifier (used for matching existing lines)"
          },
          "variantPartnershipPriceId": {
            "type": "string",
            "description": "Variant Partnership Price identifier (used for matching or updating)"
          },
          "variantId": {
            "type": "string",
            "description": "Variant identifier - will be resolved to Variant Partnership Price ID (alternative to variantPartnershipPriceId)"
          },
          "description": {
            "type": "string",
            "description": "Line description"
          },
          "quantity": {
            "type": "number",
            "description": "Quantity ordered"
          },
          "unitPrice": {
            "type": "number",
            "format": "float",
            "description": "Price per unit"
          },
          "lineTotal": {
            "type": "number",
            "format": "float",
            "description": "Total line price"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "properties": {
            "type": "object",
            "description": "Custom properties for the line"
          }
        }
      },
      "OrderCreateRequest": {
        "type": "object",
        "properties": {
          "partnershipId": {
            "type": "string",
            "description": "Partnership ID for this order (required)"
          },
          "status": {
            "type": "string",
            "enum": ["draft", "pending", "rejected", "accepted", "packed", "shipped", "delivered", "cancelled", "returned"],
            "description": "Initial order status (required)"
          },
          "internalReference": {
            "type": "string",
            "minLength": 1,
            "description": "Custom internal reference (auto-generated if omitted, must be at least 1 character if provided)"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference or PO number"
          },
          "notes": {
            "type": "string",
            "description": "Order notes"
          },
          "totalAmount": {
            "type": "string",
            "description": "Total order amount (optional string)"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (optional, defaults to partnership defaultCurrency or USD)"
          },
          "locationId": {
            "type": "string",
            "description": "Linked location for delivery address population"
          },
          "deliveryAddress": {
            "$ref": "#/components/schemas/DeliveryAddress",
            "description": "Custom delivery address"
          },
          "properties": {
            "type": "object",
            "description": "Custom JSONB properties"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderLineCreate"
            },
            "description": "Order lines to create"
          }
        },
        "required": ["partnershipId", "status"]
      },
      "OrderUpdateRequest": {
        "type": "object",
        "properties": {
          "partnershipId": {
            "type": "string",
            "description": "Partnership ID for this order"
          },
          "status": {
            "type": "string",
            "enum": ["draft", "pending", "rejected", "accepted", "packed", "shipped", "delivered", "cancelled", "returned"],
            "description": "Order status"
          },
          "internalReference": {
            "type": "string",
            "minLength": 1,
            "description": "Internal reference (must be at least 1 character if provided)"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference or PO number"
          },
          "notes": {
            "type": "string",
            "description": "Order notes"
          },
          "totalAmount": {
            "type": "string",
            "description": "Total order amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "locationId": {
            "type": "string",
            "description": "Linked location for delivery address population"
          },
          "deliveryAddress": {
            "$ref": "#/components/schemas/DeliveryAddress",
            "description": "Custom delivery address"
          },
          "properties": {
            "type": "object",
            "description": "Custom JSONB properties (merged with existing properties)"
          },
          "lines": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OrderLineUpdate"
                },
                {
                  "$ref": "#/components/schemas/OrderLineCreate"
                }
              ]
            },
            "description": "Order lines (matched by ID, variantPartnershipPriceId, or description; unmatched incoming lines are created, unmatched existing lines are deleted)"
          }
        }
      },
      "InvoiceLine": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "Product identifier"
          },
          "variantName": {
            "type": "string",
            "description": "Product variant name"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity invoiced"
          },
          "unitPrice": {
            "type": "number",
            "format": "float",
            "description": "Price per unit"
          },
          "totalPrice": {
            "type": "number",
            "format": "float",
            "description": "Total line price"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Invoice identifier"
          },
          "invoiceNumber": {
            "type": "string",
            "description": "Invoice number"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Invoice date"
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "description": "Invoice due date"
          },
          "status": {
            "type": "string",
            "description": "Invoice status"
          },
          "customerId": {
            "type": "string",
            "description": "Customer identifier (for sales invoices)"
          },
          "supplierId": {
            "type": "string",
            "description": "Supplier identifier (for purchase invoices)"
          },
          "invoiceLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceLine"
            },
            "description": "Invoice line items"
          },
          "subtotal": {
            "type": "number",
            "format": "float",
            "description": "Subtotal amount"
          },
          "tax": {
            "type": "number",
            "format": "float",
            "description": "Tax amount"
          },
          "totalAmount": {
            "type": "number",
            "format": "float",
            "description": "Total invoice amount"
          },
          "paymentTerms": {
            "type": "string",
            "description": "Payment terms"
          }
        }
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["ok"],
            "description": "Health status"
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Check API health status. This endpoint does not require authentication.",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/token": {
      "post": {
        "summary": "Get access token",
        "description": "Authenticate and receive a bearer token. Use Basic Authentication with your email as the username and password as the password.",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                },
                "example": {
                  "token": "5620b3b762204d0c105cb316c323f962c6ff895f307471a190778f9be2131cedf698a78a3b326f8cd331dd7be0a0b7f21808e821fc66e6a07bd5efb3597e6087",
                  "userId": "user_8c131306-a633-44d2-8ccc-896ebe62bbf2",
                  "expiresIn": 2592000
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "List products",
        "description": "Get a paginated list of products with filtering, sorting, and pagination",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Maximum number of products to return"
          },
          {
            "$ref": "#/components/parameters/paginationOffset"
          },
          {
            "$ref": "#/components/parameters/sortField"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/productStatusFilter"
          },
          {
            "$ref": "#/components/parameters/productSearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create product",
        "description": "Create a new product with optional variants",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "summary": "Get product",
        "description": "Retrieve a specific product by ID with all variants",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update product",
        "description": "Update an existing product with intelligent variant diffing and properties merge. Variants match by ID (priority 1) then by name case-insensitive (priority 2). Properties are merged (add/update/delete).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete product",
        "description": "Soft delete a product (marks as deleted with deletedAt timestamp without removing from database)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Product deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": ["success"]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "List customers",
        "description": "Get a paginated list of customers with filtering, sorting, and pagination",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Maximum number of customers to return"
          },
          {
            "$ref": "#/components/parameters/paginationOffset"
          },
          {
            "$ref": "#/components/parameters/searchQuery"
          },
          {
            "$ref": "#/components/parameters/sortField"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/customerStatusFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Total number of customers matching query"
                    },
                    "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create customer",
        "description": "Create a new customer with optional locations and contacts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "summary": "Get customer",
        "description": "Retrieve a single customer by ID with all locations and contacts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update customer",
        "description": "Update an existing customer with intelligent nested resource diffing. Locations match by ID then label (case-insensitive). Contacts match by ID then name (case-insensitive). Properties are merged (add/update/delete).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete customer",
        "description": "Soft delete a customer (marks as deleted with deletedAt timestamp without removing from database)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": ["success"]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/suppliers": {
      "get": {
        "summary": "List suppliers",
        "description": "Get a paginated list of suppliers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/paginationLimit"
          },
          {
            "$ref": "#/components/parameters/paginationOffset"
          },
          {
            "$ref": "#/components/parameters/sortOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "List of suppliers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Supplier"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create supplier",
        "description": "Create a new supplier with optional locations and contacts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Supplier"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Supplier created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supplier"
                }
              }
            }
          }
        }
      }
    },
    "/suppliers/{id}": {
      "get": {
        "summary": "Get supplier",
        "description": "Get a specific supplier by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supplier"
                }
              }
            }
          },
          "404": {
            "description": "Supplier not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update supplier",
        "description": "Update a supplier. Include all locations and contacts you want to keep - items not in the request will be deleted.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Supplier"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Supplier updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supplier"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete supplier",
        "description": "Delete a supplier by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Supplier deleted"
          },
          "404": {
            "description": "Supplier not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "List orders",
        "description": "Get a paginated list of orders with comprehensive filtering, pagination, and sorting",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Maximum number of orders to return"
          },
          {
            "$ref": "#/components/parameters/paginationOffset"
          },
          {
            "$ref": "#/components/parameters/sortField"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/orderStatusFilter"
          },
          {
            "$ref": "#/components/parameters/partnershipTypeFilter"
          },
          {
            "$ref": "#/components/parameters/searchQuery"
          },
          {
            "$ref": "#/components/parameters/propertiesPath"
          },
          {
            "$ref": "#/components/parameters/propertiesValue"
          },
          {
            "$ref": "#/components/parameters/propertiesExists"
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Total number of orders matching the query"
                    },
                    "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create order",
        "description": "Create a new order with optional order lines",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Partnership or Variant Partnership Price not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "summary": "Get order",
        "description": "Retrieve a single order by ID with all relations (lines, partnership info, etc.)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "Order not found or has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update order",
        "description": "Update an existing order with intelligent line diffing. Lines are matched by ID, then by variantPartnershipPriceId, then by description (case-insensitive). Unmatched incoming lines are created, unmatched existing lines are deleted.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid status, invalid fields, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Order, Partnership, or Variant Partnership Price not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete order",
        "description": "Soft delete an order (marks as deleted with deletedAt timestamp without removing from database)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Order deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": ["success"]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found or already deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "summary": "List invoices",
        "description": "Get a paginated list of invoices",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/paginationLimit"
          },
          {
            "$ref": "#/components/parameters/paginationOffset"
          },
          {
            "$ref": "#/components/parameters/sortOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "List of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create invoice",
        "description": "Create a new invoice with invoice lines",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{id}": {
      "get": {
        "summary": "Get invoice",
        "description": "Get a specific invoice by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update invoice",
        "description": "Update an invoice. Include all invoice lines you want to keep - lines not in the request will be deleted.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete invoice",
        "description": "Delete an invoice by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdHeader"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Invoice deleted"
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
